#box{
    background-color: rgb(255, 237, 214);
}

button{
    text-align: center;
}

.footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(30, 39, 39);
   color: white;
   text-align: center;
}
   

